<html>
  <head>
  <script type="text/javascript" src="http://dygraphs.com/dygraph-combined.js"></script>
  </head>

  <body>
  <p>Using <%= @data.prices.count %> prices for <%= @card.name %></p>
  <div id="graphdiv2" style="width:500px; height:300px;"></div>
<script type="text/javascript">
  g2 = new Dygraph(
    document.getElementById("graphdiv2"),
    [
    <% @data.prices.each_with_index do |price, index| %>
      [ new Date("<%= price.date.strftime("%Y/%m/%d") %>"), [<%= price.min %>, <%= price.avg %>, <%= price.max %>], [<%= price.volume %>, <%= price.volume %>, <%= price.volume %>]]<%= "," unless index == @data.prices.count %>
    <% end %>
    ],
    {
      customBars: true,
      showRoller: true,
      labels: ["Date", "Sell Price", "Volume"],
      series: {
        'Sell Price': {
          axis: 'y'
        },
        'Volume': {
          axis: 'y2'
        }
      },
      title: '<%= @card.name %>',
      showRangeSelector: true,
      rollPeriod: 14,
      connectSeparatedPoints: true
    }
  );
</script>
  </body>
</html>
