%table
  %tr
    %th
    %th Name
    %th Code
    %th Release Type
    %th Release Date
    %th Block
  - @sets.each do |set|
    %tr
      %td
        - if icon = set.default_icon
          = image_tag "/images/icons/#{icon.filename}", width: 16
      %td= link_to set.name, "/#{set.code}/en"
      %td= set.code
      %td= set.release_type
      %td= set.release_date
      %td= set.block
