%h1= @set.name

%table
  %tr
    %th Number
    %th Name
    %th Type
    %th Mana
    %th Rarity
    %th Artist
  - @cards.each do |card|
    %tr
      %td= card.number
      %td
        - if card.number
          = link_to card.name, "/#{@set.code}/en/#{card.number}"
        - elsif card.multiverse_id
          = link_to card.name, "/#{@set.code}/en/x#{card.multiverse_id}"
        - else
          = card.name
      %td= card.type_text
      %td= card.mana_cost
      %td= card.rarity
      %td= card.artist
%p
  = @cards.length
  cards
