%h1= @set.name

%table.table
  %tr
    %th Number
    %th Name
    %th Type
    %th Mana
    %th Rarity
    %th Artist
  - @cards.each do |card|
    %tr
      %td= card.number
      %td= link_to_if card.number, card.name, "/#{@set.code}/en/#{card.number}"
      %td= card.type_text
      %td= card.mana_cost
      %td= card.rarity
      %td= card.artist
%p
  = @cards.length
  cards
